.app-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}
.filter-bar {
  margin: 1rem auto;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
}
